contents<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css" />
    <link rel="stylesheet" href="/static/styles/post/postEdit.css" />
    <link rel="stylesheet" href="/static/styles/common/reset.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://kit.fontawesome.com/5a10cda3a0.js"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>

  <body>
    <div class="page-container">
      <%- include('../_layouts/header') %>

      <div class="content">
        <div class="postEdit-wrap">
          <div class="detail-category">
            <h2 class="category-title">카테고리</h2>
            <div class="profile-bar">
              <div class="detail-profile">
                <!-- 프로필 더미 2배 키움 -->
                <i class="fa-solid fa-user fa-2x"></i>
              </div>
              <div class="detail-user">
                <div class="detail-nickName"><%= post.author.nickName %></div>
                <div class="detail-date">
                  <% const options = { year: 'numeric', month: 'long', day:
                  'numeric' }; %> <%= new
                  Date(post.createdAt).toLocaleDateString('ko-KR', options) %>
                </div>
              </div>
            </div>
            <div class="tool"></div>
          </div>

          <form
            id="edit-form"
            action="/api/posts/<%= post.postId%>"
            method="post"
          >
            <div class="contents-title">
              <input class="title-input" type="text" value="<%= post.title %>" />
            </div>

            <div class="contents">
              <input
                class="contents-input"
                type="text"
                value="<%= post.content %>"
              />

              <div class="save-bar">
                <button type="submit" class="save">저장</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <footer><%- include('../_layouts/footer') %></footer>
      <script>
        /**여기 고쳐야해*/
        document
          .getElementById("edit-form")
          .addEventListener("submit", function (e) {
            const titleInput = document.querySelector(".title-input");

            if (titleInput.value.length > 20) {
              alert("제목은 20글자 이하로 입력해주세요.");
              e.preventDefault();
            }
          });

        document
          .getElementById("edit-form")
          .addEventListener("submit", function (e) {
            const contentsInput = document.querySelector(".contents-input");

            if (contentsInput.value.length < 51) {
              alert("내용은 50글자 이상으로 입력해주세요.");
              e.preventDefault();
            }
          });

        document
          .getElementById("edit-form")
          .addEventListener("submit", async (e) => {
            e.preventDefault();
            const title = document.querySelector(".title-input").value;
            const content = document.querySelector(".contents-input").value;
            const accessToken = document.cookie
              .split("; ")
              .find((index) => index.startsWith("accessToken="))
              ?.split("=")[1];

            try {
              const res = await fetch(`/api/post/<%= post.postId %>`, {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                  Authorization: accessToken,
                },
                body: JSON.stringify({ title: title, content: content }),
              });

              if (!res.ok) {
                throw new Error("게시글 수정에 실패했습니다.");
              }

              // 수정 완료 후 페이지 리다이렉트
              location.href = `/post/detail/<%= post.postId %>`;
            } catch (error) {
              console.error(error);
              alert(error.message);
            }
          });

        const [cookies] = useCookies(["accessToken"]);

        const handleComment = () => {
          if (!cookies.accessToken) {
            alert("로그인필요");
            return;
          }
        };

        $(document).ready(function () {
          $(".hamburger-bar").click(function () {
            $("#menu, .page_cover").addClass("open");
          });

          $(".page_cover, .close").click(function () {
            $("#menu, .page_cover").removeClass("open");
          });
        });
      </script>
    </div>
  </body>
</html>
