<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/category/category.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    
    <title>GENESIS</title>
</head>
<body>
  <div class="page-container">
    <%- include('../_layouts/header') %>
    <div class="content">
        <div class="category-wrap">
            <section class="category-container">
                <article class="category-header">
                    <h2 class="category-title">
                        <span>
                            카테고리
                        </span>
                    </h2>
                    <input type="text" class="category-search" placeholder="원하는 단어를 검색해보세요!">
                </article>
                <article class="category-content">
                    <ul class="list">
                        <% category.forEach(function(cat) { %>
                            <li>
                                <a href="./category/<%= cat.className %>" class="<%= cat.className %>"><%= cat.koreanName %></a>
                            </li>
                        <% }); %>
                    </ul>
                </article>
            </section>
            <section class="category-aside-container">
                    <a href="#" class="banner">
                        <p class="banner-text">
                            나만의 <br />
                            질문 모음집을 <br />
                            생성해보세요!
                        </p>
                        <span class="banner-sign-up">
                            회원가입
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </span>
                    </a>
                <aside class="aside-content">
                    <div class="top3">
                        <h3>TOP 3</h3>
                        <ul>
                            <li>
                                <a href="#" class="animal">동물</a>
                            </li>
                            <li>
                                <a href="#" class="gran">육아</a>
                            </li>
                            <li>
                                <a href="#" class="game">게임</a>
                            </li>
                            <!-- <li>
                                <a href="#" class="food">음식</a>
                            </li>
                            <li>
                                <a href="#" class="movie">영화</a>
                            </li> -->
                        </ul>
                    </div>
                </aside>
            </section>
        </div>
    </div>
    
    <footer>
        <%- include('../_layouts/footer') %>
    </footer>
    <script>
        $(document).ready(function () {
            const banner= $(".banner")
            const mobanner=$(".mobile-banner")
            const accessToken=document.cookie.split("; ").find(index=>index.startsWith('accessToken='))
            const isLoggedIn=!!accessToken;
            
            //로그인시 이렇게 됩니다
            if (isLoggedIn) {
                banner.css('display', 'none'); 
                mobanner.css('display', 'none'); 
            }
        });
    </script>
</div>
</body>
</html>
