<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/notice/notice.css" />
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css"/>
    <link rel="stylesheet" href="/static/styles/common/reset.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    
    <title>공지사항</title>
</head>
<body>
  <div class="page-container">
    <%- include('../_layouts/header') %>
    
    <div class="content">
      <div class="wrap">
          <div class="notice-description">
              <h2>공지사항</h2>
          </div>
          
          <div class="notice-container">
              <ul class="notice-list">
                <% if (notices && notices.length > 0) { %>
                  <% notices.forEach(function(notice) { %> 
                    <li class="notice">
                      <a href="/views/notice/<%= notice._id %>" class="notice-link"> 
                        <div class="title-area">
                          <span class="notice-label">공지</span>
                          <span class="notice-title"><%= notice.title %></span>
                        </div>
                        <span class="notice-date"> <%= new Date(notice.createdAt)
                          .toLocaleDateString('ko-KR')
                          .replace(/\./g, '.')   // 모든 '.'을 '.'으로 바꿈 (기본 형식 유지)
                          .replace(/\s/g, '')    // 모든 공백을 제거
                          .replace(/[./]+$/, '') //마지막 . 제거
                          %></span>
                      </a>
                    </li>
                  <% }) %>
                  <% } else { %>
                    <p>공지사항이 없습니다.</p>
                <% } %>
              </ul>
          </div>
      </div>
  </div>
    <!-- <div class="content">

        <div class="wrap">
        <div class="notice-description">
        <h2>공지사항</h2>
        </div>
        <div class="notice-container">
          <ul class="notice-list">
            <li class="notice">
              <a href="/notice/1" class="notice-link">
                <div class="title-area">
                <span class="notice-label">공지</span>
                <span class="notice-title">[공지]공지입니다 빼용빼용 빼용빼용 빼용빼용</span>
                </div>
                <span class="notice-date">24.09.19</span>
              </a>
            </li>
    
            <li class="notice">
              <a href="/notice/2" class="notice-link">
                <div class="title-area">
                  <span class="notice-label">공지</span>
                  <span class="notice-title">[업데이트]공지입니다 빼용빼용 빼용빼용 빼용빼용</span>
                </div>
                <span class="notice-date">24.09.01</span>
              </a>
            </li>
    
            <li class="notice">
              <a href="/notice/3" class="notice-link">
                <div class="title-area">
                  <span class="notice-label">공지</span>
                  <span class="notice-title">공지입니다 빼용빼용</span>
                </div>
                <span class="notice-date">24.09.01</span>
              </a>
            </li>
    
            <li class="notice">
              <a href="/notice/4" class="notice-link">
                <div class="title-area">
                  <span class="notice-label">공지</span>
                  <span class="notice-title">공지입니다 빼용빼용</span>
                </div>
                <span class="notice-date">24.09.01</span>
              </a>
            </li>
          </ul>
        </div>
        </div>

    
    </div> -->
  

    
    <footer>
        <%- include('../_layouts/footer') %>
    </footer>
    <script>
      $(document).ready(function() {
          $(".hamburger-bar").click(function() {
              $("#menu, .page_cover").addClass("open");
          });

          $(".page_cover, .close").click(function() {
              $("#menu, .page_cover").removeClass("open");
          });
      });
  </script>
</div>
</body>
</html>