<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css"/>
    <link rel="stylesheet" href="/static/styles/common/reset.css"/>
    <link rel="stylesheet" href="/static/styles/profile/profile.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>
    <div class="page-container">
        <%- include('../_layouts/header') %>
    <div class="content">
        <div class="profile-container">
            <div class="profile-info">
                <a href="#">
                    <img src="<%= user.profile.thumbnail %>" alt="profile" class="profile-image">
                </a>
                <div class="profile-button">
                    <a><%= user.profile.nickName %></a>
                    <button><a href="/profile/Edit/<%= user.id %>">프로필 수정</a></button>
                </div>
            </div>
            <ul>
                <li id="myQuestion" class="actived">내 질문</li>
                <li id="myAnswer">내 답변</li>
            </ul>
            <br>
            <!-- 탭 내 질문 활성 -->
            <div id="myQuestionContent">
                <% for(i = 0; i < post.length; i++) { %>
                <div class="boxQuestion">
                    <div class="contentQuestion">
                        <span class="titleQuestion"><%= post[i].title %></span>
                        <span class="bodyQuestion"><%= post[i].content %>
                        </span>
                    </div>
                </div>
                <% } %>
                <!-- <img src="/static/images/no-questions.png" alt="noquestions">
                <span>아직 질문이 없어요.</span> -->
            </div>
            <!-- 탭 내 답변 활성 -->
            <div id="myAnswerContent">
                <% for(i = 0; i < comment.length; i++) { %>
                    <div class="boxQuestion">
                        <div class="contentQuestion">
                            <span class="titleQuestion"><%= comment[i].content %></span>
                            <!-- <span class="bodyQuestion"><%= comment[i].content %> -->
                            </span>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <%- include('../_layouts/footer') %>
        <script>

        const $myQuestion = document.getElementById("myQuestion");
        const $myAnswer = document.getElementById("myAnswer");
        const $myQuestionContent = document.getElementById("myQuestionContent");
        const $myAnswerContent = document.getElementById("myAnswerContent");

        $myQuestion.addEventListener("click", () => {
            $myQuestion.classList.add('actived');
            $myAnswer.classList.remove('actived');

            $myQuestionContent.style.display = 'flex';
            $myAnswerContent.style.display = 'none';
            // $myQuestionContent.classList.add('active'); 
            // $myAnswerContent.classList.remove('active'); 
        });

        $myAnswer.addEventListener("click", () => {
            $myQuestion.classList.remove('actived');
            $myAnswer.classList.add('actived');
            
            $myQuestionContent.style.display = 'none';
            $myAnswerContent.style.display = 'flex';
            // $myAnswerContent.classList.add('active'); 
            // $myQuestionContent.classList.remove('active'); 
        });

        $(document).ready(function() {
            $(".hamburger-bar").click(function() {
                $("#menu, .page_cover").addClass("open");
            });

            $(".page_cover, .close").click(function() {
                $("#menu, .page_cover").removeClass("open");
            });
        });
        </script>
    </div>
</body>
</html>
