<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css"/>
    <link rel="stylesheet" href="/static/styles/common/reset.css"/>
    <link rel="stylesheet" href="/static/styles/profile/profileSetting.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
  <body>
    <div class="page-container">
        <%- include('../_layouts/header') %>
        <div class="content">
            <div id="setting-wrap">
                <div id="wrap-contents">
                    <h1 class="main-title">계정설정</h1>
                    <section class="top">
                        <div class="info">
                            <h3 class="title">기본정보</h3>
                                <div class="content1">
                                    <div class="left">
                                        <h4>이메일</h4>
                                        <!-- <p>bj999@nananan.com</p> -->
                                        <p class="user-email"><%= user.email %></p>
                                    </div>
                                    <div class="right">
                                        <button class="change">
                                        <a href="/profile/changeEmail/<%= user.id %>">변경</a>
                                        </button>
                                    </div>
                                </div>
                        </div>
                        <div class="tel">
                            <div class="left">
                                <h4>휴대폰 번호</h4>
                                <p class="user-telNumber"><%= user.profile.telNumber %></p>
                            </div>
                            <div class="right">
                                <button class="change">
                                    <a href="/profile/changeNumbers/<%= user.id %>">변경</a>
                                </button>
                            </div>
                        </div>
                        
                    </section>
                    <section class="setting-bottom">
                        <div class="passwordInfo">
                          <h3 class="title">보안설정</h3>
                          <div class="content2">
                            <div class="left">
                                <h4>비밀번호</h4>
                            </div>
                            <div class="right">
                                <button class="change">
                                    <a href="/profile/changePassword/<%= user.id %>">변경</a>
                                </button>
                            </div>
                          </div>
                        </div>
                        <div class="setting">
                            <h4>탈퇴</h4>
                            <div>
                                <button class="out">회원탈퇴</button>
                            </div>
                        </div>
                    </section>
                </div>
           </div>
     </div>
    </div>
    <footer>
        <%- include('../_layouts/footer') %>
    </footer>

  </body>
</html>
