<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css"/>
    <link rel="stylesheet" href="/static/styles/common/reset.css"/>
    <link rel="stylesheet" href="/static/styles/profile/profileChangeNumbers.css" />

    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://kit.fontawesome.com/5a10cda3a0.js"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div class="page-container">
      <%- include('../_layouts/header') %>
      <div class="content">
        <form class="changeNumbers-container" id="form">
          <h2>휴대폰 번호 변경</h2>
          <div class="number-container">
            <div class="basic-number">
              <h3>휴대폰 번호</h3>
              <div class="number-box">
                <p class="fixed-number"><%= user.profile.telNumber %></p>
              </div>
            </div>
            <div class="change-number">
              <h3 class="new-number">새로운 휴대폰 번호</h3>
              <input
                class="change"
                type="text"
                placeholder="변경하실 휴대폰 번호를 입력해 주세요."
                id="newNumber"
              />
            </div>
          </div>

          <div class="button-bar">
            <button class="checkbutton cancleBtn">취소</button>
            <button class="checkbutton pupple completeBtn" type="submit" disabled="true">확인</button>
          </div>
        </form>
      </div>

      <%- include('../_layouts/footer') %>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const form = document.getElementById("form");
          const phoneNumberInput = document.querySelector(".change");
          // const confirmButton = document.querySelector(".checkbutton.pupple");

          const newNumber = form.querySelector("#newNumber");
          const completeBtn = form.querySelector(".completeBtn");
          const cancleBtn = form.querySelector(".cancleBtn");

          cancleBtn.addEventListener("click", (e) => {
            e.preventDefault();

            location.href = "/profile/setting/<%= user.id %>";
          });

          completeBtn.addEventListener("click", async (e) => {
            e.preventDefault();
            try {
              const res = await fetch("/api/profile/<%= user.profile.id %>", {
                method: "put",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  telNumber: newNumber.value,
                    }),
                  });

              if (!res.ok) {
                console.error("Error:", res.status, res.statusText);
                const errorText = await res.text(); // 오류 메시지 확인
                console.error("Response body:", errorText);
              }

              location.href = "/profile/setting/<%= user.id %>";
            } catch (error) {
              console.error(error.message);
            }
          });

          phoneNumberInput.addEventListener("input", () => {
          if (phoneNumberInput.value.length <= 10) {
            completeBtn.disabled = true;
            completeBtn.style.backgroundColor = "purple";
          } else {
            completeBtn.disabled = false;
            completeBtn.style.backgroundColor = "rgb(177,163,245)";
          }
        });
      });

        $(document).ready(function () {
          $(".hamburger-bar").click(function () {
            $("#menu, .page_cover").addClass("open");
          });

          $(".page_cover, .close").click(function () {
            $("#menu, .page_cover").removeClass("open");
          });
        });

      </script>
    </div>
  </body>
</html>
