<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css"/>
    <link rel="stylesheet" href="/static/styles/common/reset.css"/>
    <link rel="stylesheet" href="/static/styles/profile/profileEdit.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>
    <div class="page-container">
        <%- include('../_layouts/header') %>
    <div class="content">
        <div class="profileEdit-container">
            <h1>멋진 프로필을 만들어보세요!</h1>
            <h2>가이드에 맞춰, 프로필을 완성해 주세요</h2>
            <img src="/static/images/profile.png" alt="profile">
            <div class="textbox">
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" placeholder="닉네임을 입력해주세요" class="title" value="<%= profile.profile.nickName %>">
                <br>
                <label for="greeting">인사말</label>
                <textarea type="text" id="greeting" placeholder="인사말을 입력해주세요." maxlength="60" rows="1"></textarea>
            </div>
            <div class="buttonbox">
                <button class="up cancle"><a href="/profile/Edit/<%= profile.id %>">취소</a></button>
                <button class="up save completeBtn"><a href="/profile/Edit/<%= profile.id %>" aria-disabled="true">저장</a></button>
            </div>
        </div>
    </div>
    <%- include('../_layouts/footer') %>
    <script>
        $(document).ready(function() {
            $(".hamburger-bar").click(function() {
                $("#menu, .page_cover").addClass("open");
            });

            $(".page_cover, .close").click(function() {
                $("#menu, .page_cover").removeClass("open");
            });
        });
    </script>
    </div>
</body>
</html>
